.container {
  background: var(--primary-700);
  margin-top: 3.125rem;

  padding: 2rem 3.5rem;

  border-radius: 12px;
}

.container header p {
  font-size: 1.5rem;
  font-weight: 600;
}

.container header span {
  font-size: 1.125rem;
  color: var(--grey-500);
  margin-left: 1rem;
}

.episodesList {
  list-style: none;
}


.episodesList li hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--primary-500);
  ;
  margin: 1em 0;
  padding: 0;
}

.episodesList hr:first-child {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--primary-500);
  ;
  margin: 1em 0;
  padding: 0;

}

.episodeContainer {
  display: flex;
  gap: 1.5rem;

  margin: 2.5rem 0px;
}

.episodeContainer img:not(.play) {
  height: 7.5rem;
  width: 11rem;

  border-radius: 12px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  cursor: pointer;
}


.play {
  position: absolute;
  width: 2rem;
  height: 2rem;
}

.episodeNumber {
  width: 4rem;
  color: var(--grey-500);
  font-size: 1.875rem !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.episodeAbout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: flex-start;

  width: 100%;
  height: 100%;
}

.episodeAbout p {
  font-size: 1.25rem;
  font-weight: 600;
}

.episodeAbout div * {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--grey-500);
}

.episodeAbout header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.episodeAbout header div {
  display: flex;
  align-items: center;

}

.episodeAbout header svg {
  width: 1.5rem;
  height: 1.5rem;
}

@media(max-width: 768px) {
  .episodeContainer {
    flex-direction: column;
  }
  .container header p {
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}