.search {
  display: flex;
  align-items: start;

  gap: 0.5rem;
}

.searchInput {
  width: 0px;
  height: 2rem;
  border: 1px solid transparent;
  border-radius: 4px;

  outline: none;
  box-shadow: none;
  background: transparent;
  color: #fff;

  padding-left: 2rem;
  font-size: 1rem;

  transition: 0.3s ease all;
}

.searchInput::placeholder {
  color: var(--grey-500);
}

.toggle {
  width: 14rem;
  border-color: #fff;
}

.searchIcon {
  cursor: pointer;
}