.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: hidden;
}

.imageRows {
  display: flex;
  flex-direction: column;
  justify-content: center;

  z-index: -20;

  position: absolute;
  margin-top: 2rem;
  z-index: -20;
  top: 0;

  opacity: 0.2;
  gap: 2rem;
}

.main img {
  object-fit: cover;
}

.fadeOutFromTop {
  position: relative;
}

.fadeOutFromTop::after {
  content: '';
  background: linear-gradient(to bottom, var(--primary-700), transparent);
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
}

.fadeOutFromBottom {
  position: relative;
}

.fadeOutFromBottom::after {
  content: '';
  background: linear-gradient(to top, var(--primary-700), transparent);
  position: absolute;
  height: 100%;
  width: 100vw;
  bottom: 0;
  left: 0;
}

.centerLogo {
  width: 30rem;
  opacity: 0.2;
}

.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1100px;
}

.infoSection h1 {
  font-size: 3rem;
}

.infoSection p {
  margin-top: 2rem;
  font-size: 1.025rem;

  color: #999999;
  line-height: 150%;
  text-align: center;
}

button {
  margin-top: 4rem;
}