.cardsSection {
  padding: 0px 3rem;
}

.cardsSection h3 {
  font-size: 1.875rem;
  font-weight: 400;
}

.cardsSection button {
  margin-bottom: 2rem;
  font-weight: bold;
}

.allShowsSection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;

  gap: 1.275rem;
}

.showsTitle {
  font-size: 2rem;
  font-weight: 600;

  margin-top: 6rem;
  margin-bottom: 4rem;
}

.headerSection {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.headerSection span {
  color: var(--grey-500);
}

.headerSection a {
  text-decoration: underline;
}

.error {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.error a {
  color: var(--secondary-500);
  margin-left: 0.5rem;
}


@media(max-width: 768px) {
  .allShowsSection {
    display: flex;
    flex-direction: column;
  }

  .about p {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: start;

    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .actions {
    margin-top: 4rem;
    flex-direction: column;
  }


  .actions div {
    gap: 0.5rem;
  }

  .cardsSection {
    padding: 0px 1rem;
  }

}

@media(max-width: 1600px) {
  .allShowsSection {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 1024px) {
  .allShowsSection {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 860px) {
  .allShowsSection {
    grid-template-columns: repeat(2, 1fr);
  }

  .headerSection {
    flex-direction: column;
  }

  .headerSection a {
    align-self:start;
    margin-top: 3rem;
  }
}