.notification {
  width: 28rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: var(--primary-700);
  border: 1px solid var(--primary-300);

  border-radius: 8px;
  height: 3.5rem;

  margin-top: 2rem;
  padding: 0px 1rem;
}

.notification * {
  font-size: 0.875rem;

  opacity: 0.6;
}