.close {
  position: absolute;

  display: flex;
  justify-content: flex-end;

  height: min-content;
  width: min-content;


  margin: 0 auto;
  margin-right: 1rem;
  margin-top: 1rem;

  cursor: pointer;
  color: var(--white);
}