.genresSection {
  display: flex;

  overflow-x: hidden;
  scroll-behavior: smooth;

  gap: 1rem;
  margin-top: 3rem;
  width: 100%;

}

.genresSection::-webkit-scrollbar {
  display: none;
}

.actionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionsHeader div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actionsHeader div h4 {
  font-size: 1.5rem;
  text-align: center;

  margin: 1.5rem 1rem 0px 1rem;
}

.actionsHeader button {
  background-color: var(--primary-500);
}

.actionsHeader button:hover {
  background-color: var(--primary-300);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;

  width: 100%;
}


.progress {
  margin-top: 1.5rem;
  width: 20% !important;
}


@media(max-width: 768px) {
  .progress {
    width: 50% !important;
  }
}