button {
  display: flex;
  align-items: center;

  gap: 8px;
  border: none;


  border-radius: 6px;
}

button:hover {
  transition: background-color 0.2s;
  cursor: pointer;
}

.playButton {
  padding: 0.8rem 2rem;

  background: var(--secondary-500);
  color: var(--white);
}

.playButton:hover {
  background-color: var(--secondary-700);
}

.iconButton {
  height: 3.5rem;
  width: 3.5rem;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--primary-700);
  color: var(--white);
}

.iconButton:hover {
  background-color: var(--primary-500);
}