.trigger {
  color: var(--white);
  background: transparent;
  cursor: pointer;
}

.content {
  width: 32rem;
  border-radius: 8px;
  padding: 2.5rem 3rem;

  background: var(--primary-500);

  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 20;
}



.notification {
  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: var(--primary-700);
  border: 1px solid var(--primary-300);

  border-radius: 8px;
  height: 3.5rem;

  margin-top: 2rem;
  padding: 0px 1rem;
}

.notification * {
  font-size: 0.875rem;

  opacity: 0.6;
}