::backdrop {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

.trigger {
  cursor: pointer;
}

.content {
  color: var(--white);
  position: fixed;

  padding: 2.5rem 3rem;

  border-radius: 8px;
  background: var(--primary-500);

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: fixed;

  background: transparent;
  border: 0;

  top: -3rem;
  right: 0.8rem;

  line-height: 0;
  cursor: pointer;
  color: var(--white);
}