.card {
  flex-shrink: 0;
  width: 18.75rem;
  height: 12.5rem;
  border-radius: 0.625rem;
  margin-left: 0.625rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  position: relative;
}


.card h2 {
  position: absolute;

  bottom: 0;
  left: 0;

  margin: 0.5rem;

  z-index: 20;
}

@media(max-width: 768px) {
  .card {
    width: 100%;
  }
}