.footer {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  padding: 6rem 6rem;
  margin: auto
}

.navList {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.navList p {
  margin-bottom: 0.75rem;
}

.navList li {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.navList li a {
  color: var(--grey-500);
}


.about {
  display: flex;
  justify-content: space-between;

  font-size: 0.8rem;
  color: var(--grey-500)
}

.about div span {
  position: relative;
  margin: 0px 2.5rem;
}

.downloads a {
  color: var(--grey-500);
  text-decoration: underline;
}

@media(max-width: 768px) {
  .footer {
    padding: 6rem 3rem;
  }

  .nav {
    flex-direction: column;
    margin: auto;
    gap: 2rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .downloads {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0.5rem;
  }
}