.footer {
  display: flex;
  flex-direction: column;
  gap: 8rem;

  padding: 6rem 0px;

  max-width: 80vw;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.navbar p {
  color: white;
  margin-bottom: 0.75rem;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

}

.nav li {
  color: var(--grey-500)
}

.about {
  display: flex;
  justify-content: space-between;

  font-size: 0.8rem;
  color: var(--grey-500)
}

.about div span {
  position: relative;
  margin: 0px 2.5rem;
}

.downloads a {
  color: var(--grey-500);
  text-decoration: underline;
}

@media(max-width: 768px) {
  .nav {
    flex-direction: column;
    margin: auto;
    gap: 2rem;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  .downloads {
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-top: 0.5rem;
  }
}