:root {
  --primary-200: #404040;
  --primary-300: #262626;
  --primary-500: #1F1F1F;
  --primary-700: #141414;

  --secondary-300: #FF4545;
  --secondary-500: #E50000;
  --secondary-700: #B20000;
  --secondary-800: #770000;

  --white: #FFF;
  --grey-500: #999999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --webkit-font-smoothing: antialiased;
  background: var(--primary-700);
  color: var(--white);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body,
input,
textarea,
button {
  font: 400 1rem Manrope, 'sans-serif'
}


a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 1.2rem;
  height: 1.3rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b40;
}

.fadeOutFromBottom::after {
  content: '';
  background: linear-gradient(to top, var(--primary-700), transparent);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  z-index: 10;
}

.fadeOutFromTop::before {
  content: '';
  background: linear-gradient(to bottom, var(--primary-700), transparent);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  z-index: 10;
}


@media(max-width: 768px) {
  html {
    font-size: 87.5%;
  }

}